@import-normalize;
@import 'react-toastify/dist/ReactToastify.css';
body {
  margin: 0;
  padding: 0;
  font-family: 'Baloo Chettan 2';
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(224, 224, 224);
}

/* baloo-chettan-2-regular - latin */
@font-face {
  font-family: 'Baloo Chettan 2';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/baloo-chettan-2-v16-latin-regular.eot');
  src: local(''),
    url('./fonts/baloo-chettan-2-v16-latin-regular.eot?#iefix')
      format('embedded-opentype'),
    url('./fonts/baloo-chettan-2-v16-latin-regular.woff2') format('woff2'),
    /* Super Modern Browsers */
      url('./fonts/baloo-chettan-2-v16-latin-regular.woff') format('woff'),
    /* Modern Browsers */ url('./fonts/baloo-chettan-2-v16-latin-regular.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('./fonts/baloo-chettan-2-v16-latin-regular.svg#BalooChettan2')
      format('svg'); /* Legacy iOS */
}
/* baloo-chettan-2-500 - latin */
@font-face {
  font-family: 'Baloo Chettan 2';
  font-style: normal;
  font-weight: 500;
  src: url('./fonts/baloo-chettan-2-v16-latin-500.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('./fonts/baloo-chettan-2-v16-latin-500.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('./fonts/baloo-chettan-2-v16-latin-500.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('./fonts/baloo-chettan-2-v16-latin-500.woff') format('woff'),
    /* Modern Browsers */ url('./fonts/baloo-chettan-2-v16-latin-500.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('./fonts/baloo-chettan-2-v16-latin-500.svg#BalooChettan2')
      format('svg'); /* Legacy iOS */
}
/* baloo-chettan-2-700 - latin */
@font-face {
  font-family: 'Baloo Chettan 2';
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/baloo-chettan-2-v16-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('./fonts/baloo-chettan-2-v16-latin-700.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('./fonts/baloo-chettan-2-v16-latin-700.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('./fonts/baloo-chettan-2-v16-latin-700.woff') format('woff'),
    /* Modern Browsers */ url('./fonts/baloo-chettan-2-v16-latin-700.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('./fonts/baloo-chettan-2-v16-latin-700.svg#BalooChettan2')
      format('svg'); /* Legacy iOS */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
}

a {
  text-decoration: none;
}
